body{
    font-family:Tahoma,Arial;
    background:#f4f7f6;
    margin:0;
    padding-bottom:160px;
    direction:rtl;
}

.hidden{display:none}

/* Header */
.header{
    background:#064e3b;
    color:#fff;
    text-align:center;
    padding:20px;
    border-bottom:4px solid #fbbf24;
}

.header p{
    font-size:12px;
    color:#fbbf24;
}

/* Layout */
.container{
    max-width:900px;
    margin:auto;
    padding:20px;
}

/* Telegram */
.telegram-btn{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:10px;
    background:#0088cc;
    color:#fff;
    padding:15px;
    border-radius:12px;
    text-decoration:none;
    font-weight:bold;
    margin-bottom:25px;
}

/* Grid */
.menu-grid{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:15px;
}

@media(min-width:768px){
    .menu-grid{
        grid-template-columns:repeat(4,1fr);
    }
}

/* Cards */
.card{
    background:#fff;
    padding:20px;
    border-radius:16px;
    text-align:center;
    cursor:pointer;
    border-right:5px solid #064e3b;
    box-shadow:0 4px 8px rgba(0,0,0,.06);
}

.card i{
    font-size:30px;
    margin-bottom:10px;
    display:block;
}

.card span{
    font-weight:bold;
    font-size:14px;
}

/* Colors */
.blue{color:#2563eb}
.amber{color:#d97706}
.emerald{color:#059669}
.red{color:#dc2626}

/* Back */
.back-btn{
    background:#064e3b;
    color:#fff;
    padding:8px 20px;
    border:none;
    border-radius:8px;
    margin-bottom:15px;
    cursor:pointer;
}

/* Player */
.player-bar{
    position:fixed;
    bottom:0;
    left:0;
    right:0;
    background:#022c22;
    color:#fff;
    padding:15px;
    border-top:4px solid #fbbf24;
    display:flex;
    flex-direction:column;
    align-items:center;
}

#track-title{
    font-size:12px;
    color:#fbbf24;
    margin-bottom:8px;
}

.controls{
    display:flex;
    align-items:center;
    gap:25px;
}

.controls i{
    font-size:18px;
    cursor:pointer;
}

.play-btn{
    background:#fff;
    color:#064e3b;
    width:55px;
    height:55px;
    border-radius:50%;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:22px;
}

.volume-slider{
    margin-top:10px;
    display:flex;
    align-items:center;
    gap:8px;
}
